<!DOCTYPE html>
<html lang="en">
<head>
      {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
     <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body class="bg-gray-100">
     <header class="h-[80px] w-full shadow-md bg-white">
        <section class="wrapper h-full flex items-center px-4">
            <a href="" class="flex items-center">
                <img class="w-6" src="{% static './images/arrow.png' %}" alt="Back">
            </a>
            <h2 class="text-center flex-1 font-bold text-[22px]">Checkout</h2>
        </section>
    </header >
    <section class=" w-[95%] mx-auto">
       <div class="w-full sm:max-w-xl mx-auto bg-white shadow-lg pb-3 rounded-lg pt-2 mt-5">
             <h2 class="text-gray-700 font-semibold text-sm m-2 p-2 ">Bill Details</h2>

            <div class="p-2 border-b border-gray-300 mx-2 flex justify-between">
                <p>item Toatal</p>
                <p>$30</p>
            </div>

            <div class="p-2 border-b border-gray-300 mx-2 flex justify-between">
                <p>offer applied</p>
                <p>$30</p>
            </div>

            <div class="p-2 border-b border-gray-300 mx-2 flex justify-between">
                <p>Delevery charge</p>
                <p>$30</p>
            </div>

            <div class="p-2 border-b border-gray-300 mx-2 flex justify-between">
                <p class="font-bold">To Pay</p>
                <p class="font-bold">$30</p>
            </div>
     
           

         </div>


        <div class="w-full sm:max-w-xl mx-auto bg-white shadow-lg pb-8 rounded-xl pt-2 mt-7">
            <h2 class="text-gray-700 font-semibold text-sm m-2 p-2 ">PAYMENT METHOD</h2>

            <div class="p-2 border-b border-gray-300 mx-2 flex justify-start gap-2">
                <input id="checkboxone" type="checkbox" class="">
                <label for="checkboxone">upi</label>
                
            </div>
            <div class="p-2 border-b border-gray-300 mx-2 flex justify-start gap-2">
                <input id="checkboxtwo" type="checkbox" class="">
                <label for="checkboxtwo">COD</label>
                
            </div>

            

        </div> 

         <div class="w-full sm:max-w-xl mx-auto  pt-2 mt-5">
           <button class="w-full py-3 bg-red-700 rounded-md text-white">Place order</button>

    </div>
        
    </section>
    
</body>
</html>