<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body class="text-[#515151]">

     <header class="h-[80px] w-full shadow-md mb-10 bg-white">
        <section class="h-full flex justify-start items-center px-4 mx-auto">
            <a href="#" class="flex items-center">
                <img class="w-6" src="./images/arrow.png" alt="Back">
            </a>
            <h2 class="text-center flex-1 font-bold text-[22px]">Restaurant</h2>
        </section>
    </header>


    
    <section>
        <section class="wrapper">
            <h1 class="text-[24px] font-semibold mb-5">filter by category</h1>
            <div class=" flex justify-start overflow-scroll items-center">
                <div class=" min-w-[25%] max-w-[25%] sm:min-w-[20%] sm:max-w-[20%] md:min-w-[15%] md:max-w-[15%]">
                    <img src="images/cat3.png" alt="image">
                    <h3 class=" text-center">Burger</h3>
                </div>
                <div class=" min-w-[25%] max-w-[25%] sm:min-w-[20%] sm:max-w-[20%] md:min-w-[15%] md:max-w-[15%]">
                    <img src="images/cat2.png" alt="image">
                    <h3 class=" text-center">Biriyani</h3>
                </div>
                <div class=" min-w-[25%] max-w-[25%] sm:min-w-[20%] sm:max-w-[20%] md:min-w-[15%] md:max-w-[15%]">
                    <img src="images/cat4.png" alt="image">
                    <h3 class=" text-center">Roll</h3>
                </div>
                <div class=" min-w-[25%] max-w-[25%] sm:min-w-[20%] sm:max-w-[20%] md:min-w-[15%] md:max-w-[15%]">
                    <img src="images/cat5.png" alt="image">
                    <h3 class=" text-center">Sandwitch</h3>
                </div>
                <div class=" min-w-[25%] max-w-[25%] sm:min-w-[20%] sm:max-w-[20%] md:min-w-[15%] md:max-w-[15%]">
                    <img src="images/cat6.png" alt="image">
                    <h3 class=" text-center">Chinees</h3>
                </div>
                <div class=" min-w-[25%] max-w-[25%] sm:min-w-[20%] sm:max-w-[20%] md:min-w-[15%] md:max-w-[15%]">
                    <img src="images/cat7.png" alt="image">
                    <h3 class=" text-center">North</h3>
                </div>
            </div>
        </section>
    </section>
    <section class="py-10">
        <section class="wrapper">
            <h1 class="text-[24px] font-semibold mb-5">Top Restaurants!</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7">
                <div class=" col-span-1 p-4 rounded-lg border">
                    <a href="#" class="flex justify-start">
                        <img src="images/rest1.png" alt="image" class="w-[35%] rounded-xl mr-4">
                        <div class="w-[65%]">
                            <h3 class=" text-[16px] font-semibold mb-1">Manama Restaurant</h3>
                            <p class="text-[14px] mb-4">Tasty and healthy foods</p>
                            <div class="flex justify-start items-center">
                                <span class=" flex justify-start items-center mr-4">
                                    <img src="images/star.png" alt="image" class="w-[16px] mr-2">
                                    4.2
                                </span>
                                <span class="flex justify-start items-center">
                                    <img src="images/clock.png" alt="image" class="w-[16px] mr-2">
                                    30 min
                                </span>
                            </div>
                             <span class="flex justify-start items-center text-red-600 font-semibold">
                                    <img src="images/discount.png" alt="image" class="w-[16px] mr-2">
                                    free delevery
                            </span>
                        </div>
                    </a>
                </div>
                <div class=" col-span-1 p-4 rounded-lg border">
                    <a href="#" class="flex justify-start">
                        <img src="images/rest2.png" alt="image" class="w-[35%] rounded-xl mr-4">
                        <div class="w-[65%]">
                            <h3 class=" text-[16px] font-semibold mb-1">PIZZA HUT</h3>
                            <p class="text-[14px] mb-4">Tasty and healthy foods</p>
                            <div class="flex justify-start items-center">
                                <span class=" flex justify-start items-center mr-4">
                                    <img src="images/star.png" alt="image" class="w-[16px] mr-2">
                                    4.2
                                </span>
                                <span class="flex justify-start items-center">
                                    <img src="images/clock.png" alt="image" class="w-[16px] mr-2">
                                    30 min
                                </span>
                            </div>
                             <span class="flex justify-start items-center text-red-600 font-semibold">
                                    <img src="images/discount.png" alt="image" class="w-[16px] mr-2">
                                    free delevery
                            </span>
                        </div>
                    </a>
                </div>
                <div class=" col-span-1 p-4 rounded-lg border">
                    <a href="#" class="flex justify-start">
                        <img src="images/rest3.png" alt="image" class="w-[35%] rounded-xl mr-4">
                        <div class="w-[65%]">
                            <h3 class=" text-[16px] font-semibold mb-1">Biriyani Center</h3>
                            <p class="text-[14px] mb-4">Tasty and healthy foods</p>
                            <div class="flex justify-start items-center">
                                <span class=" flex justify-start items-center mr-4">
                                    <img src="images/star.png" alt="image" class="w-[16px] mr-2">
                                    4.2
                                </span>
                                <span class="flex justify-start items-center">
                                    <img src="images/clock.png" alt="image" class="w-[16px] mr-2">
                                    30 min
                                </span>
                                    
                                
                                
                            </div>
                             <span class="flex justify-start items-center text-red-600 font-semibold">
                                    <img src="images/discount.png" alt="image" class="w-[16px] mr-2">
                                    free delevery
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </section>

     <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    
</body>
</html>